# Storage Data from Hadoop to Hive Databases

The main idea of this Jupyter is to connect to hadoop and read the data using Spark in order to store it in a proper database. In this case I will use Apache Hive Database.

First we import the libraries that we will use throughout the jupyter

In [3]:
# Libraries from Spark
from pyspark.sql import SparkSession # Spark Session for working with hadoop files
from pyspark.sql.functions import lit  # functions for working with text
from pyspark.sql.functions import col, sum # functions for columns

## Configurate Spark

Configure use spark session to connect to the hive database

In [12]:
# Configuration before creating the Spark session
spark = SparkSession.builder \
    .appName("StockTweetsToHive") \
    .enableHiveSupport() \
    .getOrCreate()

## Directories in Hadoop

We create the directories where our data are located, in this case in csv format.

In [14]:
# Directories
# tweets
dir_tweets = '/data/tweets/stocktweet.csv'

# stocks
set_cvs = [
    ("/data/companies/BAC.csv", "BAC"),
    ("/data/companies/DIS.csv", "DIS"),
    ("/data/companies/PG.csv", "PG"),
    ("/data/companies/TSLA.csv", "TSLA"),
    ("/data/companies/WMT.csv", "WMT")
]

## Reading tweets

In order to be able to read tweets that sometimes contain data that could obstruct some internal spark functions, we must configure the function to read data

In [15]:
df_tweets = spark.read.option("header", "true") \
                     .option("inferSchema", "true") \
                     .option("multiLine", "true") \
                     .option("encoding", "UTF-8") \
                     .option("delimiter", ",") \
                    .csv(dir_tweets, header=True, inferSchema=True)

df_tweets.show()
print(df_tweets.count())

+------+----------+------+--------------------+
|    id|      date|ticker|               tweet|
+------+----------+------+--------------------+
|100001|01/01/2020|  AMZN|$AMZN Dow futures...|
|100002|01/01/2020|  TSLA|$TSLA Daddy's dri...|
|100003|01/01/2020|  AAPL|$AAPL Weâ€™ll been ...|
|100004|01/01/2020|  TSLA|$TSLA happy new y...|
|100005|01/01/2020|  TSLA|"$TSLA haha just ...|
|100006|01/01/2020|  TSLA|$TSLA NOBODY: Gas...|
|100007|02/01/2020|  AAPL|$AAPL $300 calls ...|
|100008|02/01/2020|  AAPL|$AAPL Remember, i...|
|100009|02/01/2020|  AAPL|$AAPL called it, ...|
|100010|02/01/2020|    HD|$HD Bought more a...|
|100011|02/01/2020|  AAPL|Apple is taking t...|
|100012|02/01/2020|  AAPL|$AAPL not a bad d...|
|100013|02/01/2020|  AAPL|$AAPL where are a...|
|100014|03/01/2020|  NVDA|$NVDA This should...|
|100015|03/01/2020|  AAPL|$AAPL tomorrow bu...|
|100016|03/01/2020|  AAPL|$AAPL Thanks for ...|
|100017|03/01/2020|  AAPL|$AAPL leave enoug...|
|100018|03/01/2020|  AAPL|$AAPL short this ...|
|100019|03/01/2020|  TSLA|$TSLA  I must ris...|
|100020|03/01/2020|  TSLA|$TSLA shorts are ...|
+------+----------+------+--------------------+
only showing top 20 rows

10003

## Counting Nulls

Because the function to read the data is not efficient we need to control the nulls that were registered due to formatting problems. The following is a list of the nulls by column

In [16]:
# Assuming you have a DataFrame named df
# We count the null values for each column
null_counts = df_tweets.select([sum(col(c).isNull().cast("int")).alias(c) for c in df_tweets.columns])

# Show the count of null values for each column
null_counts.show()

+---+----+------+-----+
| id|date|ticker|tweet|
+---+----+------+-----+
|  0|   2|     2|    3|
+---+----+------+-----+

## Showing Nulls

Here I am checking where the nulls are by columns

In [17]:
df_tweet_nulls_date = df_tweets.filter(df_tweets['date'].isNull())
df_tweet_nulls_ticker = df_tweets.filter(df_tweets['ticker'].isNull())
df_tweet_nulls_comment = df_tweets.filter(df_tweets['tweet'].isNull())

In [19]:
# Show the result
df_tweet_nulls_date.show()
print(df_tweet_nulls_date.count())
df_tweet_nulls_ticker.show()
print(df_tweet_nulls_ticker.count())
df_tweet_nulls_comment.show()
print(df_tweet_nulls_comment.count())

+--------------------+----+------+-----+
|                  id|date|ticker|tweet|
+--------------------+----+------+-----+
|And what did the ...|null|  null| null|
|             ðŸ˜·ðŸ˜·ðŸ˜·"|null|  null| null|
+--------------------+----+------+-----+

2
+--------------------+----+------+-----+
|                  id|date|ticker|tweet|
+--------------------+----+------+-----+
|And what did the ...|null|  null| null|
|             ðŸ˜·ðŸ˜·ðŸ˜·"|null|  null| null|
+--------------------+----+------+-----+

2
+--------------------+-------------+--------------------+-----+
|                  id|         date|              ticker|tweet|
+--------------------+-------------+--------------------+-----+
|And what did the ...|         null|                null| null|
|             ðŸ˜·ðŸ˜·ðŸ˜·"|         null|                null| null|
|                Well| there you go| crash accordingl...| null|
+--------------------+-------------+--------------------+-----+

3

## Dropping nulls

I need to eliminate the nulls that do not correspond to the real data.

In [20]:
df_tweets = df_tweets.dropna()
df_tweets.show()
print(df_tweets.count())

+------+----------+------+--------------------+
|    id|      date|ticker|               tweet|
+------+----------+------+--------------------+
|100001|01/01/2020|  AMZN|$AMZN Dow futures...|
|100002|01/01/2020|  TSLA|$TSLA Daddy's dri...|
|100003|01/01/2020|  AAPL|$AAPL Weâ€™ll been ...|
|100004|01/01/2020|  TSLA|$TSLA happy new y...|
|100005|01/01/2020|  TSLA|"$TSLA haha just ...|
|100006|01/01/2020|  TSLA|$TSLA NOBODY: Gas...|
|100007|02/01/2020|  AAPL|$AAPL $300 calls ...|
|100008|02/01/2020|  AAPL|$AAPL Remember, i...|
|100009|02/01/2020|  AAPL|$AAPL called it, ...|
|100010|02/01/2020|    HD|$HD Bought more a...|
|100011|02/01/2020|  AAPL|Apple is taking t...|
|100012|02/01/2020|  AAPL|$AAPL not a bad d...|
|100013|02/01/2020|  AAPL|$AAPL where are a...|
|100014|03/01/2020|  NVDA|$NVDA This should...|
|100015|03/01/2020|  AAPL|$AAPL tomorrow bu...|
|100016|03/01/2020|  AAPL|$AAPL Thanks for ...|
|100017|03/01/2020|  AAPL|$AAPL leave enoug...|
|100018|03/01/2020|  AAPL|$AAPL short this ...|
|100019|03/01/2020|  TSLA|$TSLA  I must ris...|
|100020|03/01/2020|  TSLA|$TSLA shorts are ...|
+------+----------+------+--------------------+
only showing top 20 rows

10000

## Reading Prices


To read the share prices I have to create a new column in this case company in order to identify the records of each cvs.

In [21]:
# Create a list of DataFrames with the column 'company'.
dataframes = []

for cvs, company in set_cvs:
    # Load the DataFrame from the CSV file
    df = spark.read.csv(cvs, header=True, inferSchema=True)
    
    # Add a 'company' column with the company name
    df_with_company = df.withColumn("company", lit(company))
    
    # Add the DataFrame with the new column to the list
    dataframes.append(df_with_company)

# Union all DataFrames into one
df_stock = dataframes[0]
for df in dataframes[1:]:
    df_stock = df_stock.union(df)

# Display the final DataFrame
df_stock.show()
print(df_stock.count())

+----------+------------------+------------------+------------------+------------------+------------------+--------+-------+
|      Date|              Open|              High|               Low|             Close|         Adj Close|  Volume|company|
+----------+------------------+------------------+------------------+------------------+------------------+--------+-------+
|2019-12-31|35.029998779296875|  35.2599983215332|34.970001220703125|35.220001220703125|31.893484115600586|29630100|    BAC|
|2020-01-02|35.349998474121094| 35.65999984741211|35.290000915527344| 35.63999938964844|32.273807525634766|37614200|    BAC|
|2020-01-03| 34.97999954223633|35.150001525878906|  34.7599983215332|34.900001525878906|31.603710174560547|50357900|    BAC|
|2020-01-06| 34.40999984741211|34.900001525878906|34.369998931884766|34.849998474121094|31.558433532714844|42185000|    BAC|
|2020-01-07| 34.70000076293945| 34.91999816894531|34.529998779296875|34.619998931884766| 31.35015296936035|34149000|    BAC|
|2020-01-08| 34.56999969482422|35.189998626708984| 34.54999923706055|34.970001220703125|31.667097091674805|45311600|    BAC|
|2020-01-09| 35.29999923706055| 35.33000183105469|34.939998626708984|35.029998779296875|31.721426010131836|39861600|    BAC|
|2020-01-10|              35.0| 35.06999969482422| 34.65999984741211|  34.7400016784668| 31.45882225036621|39730400|    BAC|
|2020-01-13| 34.84000015258789| 35.06999969482422| 34.65999984741211|35.060001373291016| 31.74859046936035|37956100|    BAC|
|2020-01-14| 35.29999923706055| 35.66999816894531| 35.11000061035156| 35.31999969482422| 31.98404312133789|66719300|    BAC|
|2020-01-15| 34.77000045776367|34.790000915527344| 34.34000015258789| 34.66999816894531| 31.39542579650879|74745500|    BAC|
|2020-01-16|34.900001525878906|  34.9900016784668|34.599998474121094|34.720001220703125|31.440710067749023|50368500|    BAC|
|2020-01-17| 34.91999816894531| 34.95000076293945|34.599998474121094|34.709999084472656|31.431655883789062|54156100|    BAC|
|2020-01-21| 34.41999816894531| 34.52000045776367|34.220001220703125|  34.2599983215332|31.024145126342773|50811000|    BAC|
|2020-01-22|34.369998931884766| 34.45000076293945| 34.22999954223633| 34.36000061035156|31.114707946777344|38879700|    BAC|
|2020-01-23| 34.09000015258789|  34.2599983215332| 33.72999954223633|34.119998931884766|30.897377014160156|45717100|    BAC|
|2020-01-24|34.119998931884766| 34.13999938964844| 33.27000045776367|33.540000915527344|30.372159957885742|47797200|    BAC|
|2020-01-27| 32.56999969482422|33.130001068115234|32.470001220703125|32.849998474121094| 29.74732780456543|57096200|    BAC|
|2020-01-28| 33.02000045776367|  33.4900016784668| 32.95000076293945|  33.2400016784668|30.100494384765625|38834600|    BAC|
|2020-01-29| 33.33000183105469|33.439998626708984| 32.97999954223633|  33.0099983215332|  29.8922176361084|37414700|    BAC|
+----------+------------------+------------------+------------------+------------------+------------------+--------+-------+
only showing top 20 rows

1270

## Saving registers in Hive DataBase

Before we can save data to the database, we must make sure that the database is turned on and has been correctly configured.

### Showing databases

In [22]:
spark.sql("Show databases;").show()

+---------+
|namespace|
+---------+
|benchmark|
|      ca2|
|  default|
| testhive|
+---------+

### Creating a Database

In [12]:
spark.sql("CREATE DATABASE IF NOT EXISTS ca2")

DataFrame[]

In [13]:
spark.sql("Show databases;").show()

+---------+
|namespace|
+---------+
|benchmark|
|      ca2|
|  default|
| testhive|
+---------+

#### Using the Database created

In [25]:
spark.sql("USE ca2;").show()

++
||
++
++

#### Writing the data to database hive

In [26]:
df_tweets.write \
    .mode("overwrite") \
    .saveAsTable("ca2.tweets")  # Name of the database and table in Hive

In [16]:
spark.sql("Select * from tweets;").show()

+------+----------+------+--------------------+
|    id|      date|ticker|               tweet|
+------+----------+------+--------------------+
|100001|01/01/2020|  AMZN|$AMZN Dow futures...|
|100002|01/01/2020|  TSLA|$TSLA Daddy's dri...|
|100003|01/01/2020|  AAPL|$AAPL Weâ€™ll been ...|
|100004|01/01/2020|  TSLA|$TSLA happy new y...|
|100005|01/01/2020|  TSLA|"$TSLA haha just ...|
|100006|01/01/2020|  TSLA|$TSLA NOBODY: Gas...|
|100007|02/01/2020|  AAPL|$AAPL $300 calls ...|
|100008|02/01/2020|  AAPL|$AAPL Remember, i...|
|100009|02/01/2020|  AAPL|$AAPL called it, ...|
|100010|02/01/2020|    HD|$HD Bought more a...|
|100011|02/01/2020|  AAPL|Apple is taking t...|
|100012|02/01/2020|  AAPL|$AAPL not a bad d...|
|100013|02/01/2020|  AAPL|$AAPL where are a...|
|100014|03/01/2020|  NVDA|$NVDA This should...|
|100015|03/01/2020|  AAPL|$AAPL tomorrow bu...|
|100016|03/01/2020|  AAPL|$AAPL Thanks for ...|
|100017|03/01/2020|  AAPL|$AAPL leave enoug...|
|100018|03/01/2020|  AAPL|$AAPL short this ...|
|100019|03/01/2020|  TSLA|$TSLA  I must ris...|
|100020|03/01/2020|  TSLA|$TSLA shorts are ...|
+------+----------+------+--------------------+
only showing top 20 rows

In [31]:
spark.sql("Select COUNT(*) from ca2.tweets;").show()

+--------+
|count(1)|
+--------+
|   10000|
+--------+

### Writing the data to database hive

In [27]:
df_stock.write \
    .mode("overwrite") \
    .saveAsTable("ca2.prices")  # Name of the database and table in Hive

24/12/10 15:27:38 WARN MemoryManager: Total allocation exceeds 50.00% (522,977,280 bytes) of heap memory
Scaling row group sizes to 97.41% for 4 writers
24/12/10 15:27:38 WARN MemoryManager: Total allocation exceeds 50.00% (522,977,280 bytes) of heap memory
Scaling row group sizes to 77.93% for 5 writers
24/12/10 15:27:38 WARN MemoryManager: Total allocation exceeds 50.00% (522,977,280 bytes) of heap memory
Scaling row group sizes to 97.41% for 4 writers

### Showing the dato from database

In [29]:
spark.sql("Select * from ca2.prices;").show()

+----------+------------------+------------------+------------------+------------------+------------------+---------+-------+
|      Date|              Open|              High|               Low|             Close|         Adj Close|   Volume|company|
+----------+------------------+------------------+------------------+------------------+------------------+---------+-------+
|2019-12-31|              27.0|28.086000442504883| 26.80533218383789|  27.8886661529541|  27.8886661529541|154285500|   TSLA|
|2020-01-02|28.299999237060547|28.713333129882812| 28.11400032043457| 28.68400001525879| 28.68400001525879|142981500|   TSLA|
|2020-01-03|29.366666793823242|30.266666412353516|29.128000259399414|29.534000396728516|29.534000396728516|266677500|   TSLA|
|2020-01-06|29.364667892456055|30.104000091552734|29.333332061767578|  30.1026668548584|  30.1026668548584|151995000|   TSLA|
|2020-01-07|30.760000228881836|31.441999435424805|30.224000930786133|31.270666122436523|31.270666122436523|268231500|   TSLA|
|2020-01-08|31.579999923706055|   33.232666015625|31.215333938598633| 32.80933380126953| 32.80933380126953|467164500|   TSLA|
|2020-01-09| 33.13999938964844|33.253334045410156|31.524667739868164|32.089332580566406|32.089332580566406|426606000|   TSLA|
|2020-01-10| 32.11933135986328|  32.3293342590332|31.579999923706055|31.876667022705078|31.876667022705078|194392500|   TSLA|
|2020-01-13|32.900001525878906| 35.04199981689453| 32.79999923706055|34.990665435791016|34.990665435791016|397764000|   TSLA|
|2020-01-14|36.284000396728516| 36.49399948120117| 34.99333190917969|35.861331939697266|35.861331939697266|434943000|   TSLA|
|2020-01-15| 35.31733322143555| 35.85599899291992|34.452667236328125| 34.56666564941406| 34.56666564941406|260532000|   TSLA|
|2020-01-16| 32.91666793823242|34.297332763671875| 32.81133270263672|   34.232666015625|   34.232666015625|326050500|   TSLA|
|2020-01-17|33.840667724609375| 34.37799835205078| 33.54399871826172| 34.03333282470703| 34.03333282470703|204436500|   TSLA|
|2020-01-21|35.349998474121094|36.571998596191406|35.227333068847656| 36.47999954223633| 36.47999954223633|267052500|   TSLA|
|2020-01-22|38.125999450683594|39.633331298828125| 37.27333450317383| 37.97066879272461| 37.97066879272461|470535000|   TSLA|
|2020-01-23|37.616668701171875| 38.79999923706055|37.040000915527344| 38.14666748046875| 38.14666748046875|294765000|   TSLA|
|2020-01-24| 38.04199981689453| 38.25733184814453| 36.95066833496094|37.654666900634766|37.654666900634766|215304000|   TSLA|
|2020-01-27|36.132667541503906| 37.62933349609375| 35.95199966430664|37.201332092285156|37.201332092285156|204121500|   TSLA|
|2020-01-28| 37.89933395385742| 38.45399856567383|  37.2053337097168|37.793331146240234|37.793331146240234|176827500|   TSLA|
|2020-01-29| 38.37933349609375| 39.31999969482422| 37.82866668701172|   38.732666015625|   38.732666015625|267022500|   TSLA|
+----------+------------------+------------------+------------------+------------------+------------------+---------+-------+
only showing top 20 rows

In [20]:
spark.sql("Select COUNT(*) from ca2.prices;").show()

+--------+
|count(1)|
+--------+
|    1270|
+--------+